# Python
__pycache__/
*.py[cod]
*.pyo
.pytest_cache/

# Virtual environments
.venv/
venv/
env/

# Ansible
*.retry
.ansible/

# Molecule testing
.molecule/
molecule/*/.cache/
molecule/*/molecule.yml.bak

# VS Code
.vscode/

# Logs
*.log

# OS
.DS_Store
Thumbs.db
